<b>Info</b><br />
<br />

{{_.company.name}}<br />
Att: Morten Sørensen<br />
Elbagade 22A, 4th<br />
2300 København S<br />
<br />

email: <a href="mailto:{{_.company.email}}" ng-bind-template="{{_.company.email}}"></a><br />
mobil: {{_.company.phone.mobile}}<br />
<br />

Download CV i <a ng-href="https://s3-eu-west-1.amazonaws.com/{{_.publicAWSS3Bucket}}/cv-morten-sorensen-{{language}}.pdf">PDF</a><br />
<br />

CVR: {{_.company.vatNo}}<br />
<br />

Bank: {{_.bank.name}}<br />
Reg. nr. {{_.bank.regNo}}<br />
Konto nr. {{_.bank.accountNo}}<br />
<br />

<br />

