<div class="col-sm-9">

  <div id="mainPanel">
    <img src="/img/morsor.jpg" class="portrait" alt="" />
    <div data-ng-include="'/partials/' + language + '-profile-text.html'"></div>
    <br>
    <div data-ng-show="_.current.employer.name">
      {{languageVersioned.preLinkText}}
      <a data-ng-show="_.current.employer.url" data-ng-href="{{_.current.employer.url}}" target="_top" data-ng-bind-template="{{_.current.employer.name}}"></a>
      <span data-ng-hide="_.current.employer.url" data-ng-bind-template="{{_.current.employer.name}}"></span>
      {{languageVersioned.postLinkText}}
    </div>
    <div data-ng-hide="_.current.employer.name">
      {{languageVersioned.availableText}}
    </div>
  </div>

</div>

<div class="col-sm-3">

  <div id="rightPanel">
    <a class="languageLink" href="/language/{{selectableLanguage}}"><img class="languageIcon" data-ng-src="/img/{{selectableLanguage}}.gif" alt="" /></a>
    <div data-ng-include="'/partials/' + language + '-company-data.html'"></div>
    <a href="http://www.linkedin.com/in/morsor" ><img src="/img/linkedin.gif" width="160" height="25" border="0" alt=""></a>
  </div>

</div>

